.restaurants {
    width: auto;
    padding: 10px 150px;
    background-color: rgb(230, 230, 230);
    display: flex;

    main {
        display: flex;
        margin: 20px auto;
        flex-wrap: wrap;
        align-items: stretch;
    }
}