.tab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 10px 10px;

    .buttons {
        margin: auto;
        width: auto;

        button {
            background-color: white;
            padding: 10px 50px;
            font-family: specialFont;
            font-size: 22px;
            font-weight: bold;
            color: rgb(51, 51, 51);
            width: 180px;

            &:hover {
                cursor: pointer;
            }
        }

        .activeTab {
            border: none;
            border-bottom: 5px solid rgb(119, 177, 31);
        }

        .notActiveTab {
            border: none;
            transition: all 0.2s;

            &:hover {
                border-bottom: 5px solid rgb(167, 182, 145);
            }
        }
    }
}