.section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .off {
        display: flex;
        flex-direction: column;
        width: 200px;
        margin: 30px auto;
        line-height: 0px;

        h1,
        h2,
        h3 {
            text-align: center;
            color: rgb(29, 29, 29);
            font-family: myFont;
        }

        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 25px;
        }

        h3 {
            font-size: 25px;
            color: rgb(0, 179, 211);
            font-family: uniqueFont;
        }
    }

    .order {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 20px auto;

        h1 {
            text-align: center;
            color: purple;
            font-family: myFont;
            font-size: 25px;
        }

        p {
            text-align: center;
            color: rgb(77, 77, 77);
            font-family: myFont;
            font-size: 18px;
            margin-top: 0px;
        }
    }

    .orderWays {
        display: flex;
        width: auto;
        margin: 20px auto;

        .orderWay {
            display: flex;
            flex-direction: column;
            width: 250px;
            margin: auto 20px;
            transition: all 0.5s;

            i {
                font-size: 50px;
                color: purple;
                margin: auto;
            }

            h1 {
                text-align: center;
                color: rgb(29, 29, 29);
                font-family: myFont;
                font-size: 25px;
                text-align: center;
            }

            p {
                text-align: center;
                color: rgb(97, 97, 97);
                font-family: myFont;
                font-size: 15px;
                margin-top: 0px;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .section {
        .orderWays {
            flex-direction: column;
            
            .orderWay{
                margin-top: 10px;
            }
        }
    }
}